.results-heading {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid var(--pinkish-grey);
  padding-bottom: 16px;
  margin-bottom: 0;
}

.results-content {
  padding-top: 0;
}

.results-card {
  margin-right: 5px;
  margin-left: 5px;
}

