.search-input {
  margin: 20px 0;
  width: 100%;
  padding: 7px 7px 10px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 var(--white);
  border: solid 1px var(--gainsboro);
  background-color: var(--white);
  color: var(--gray22);
}

.search-input:focus {
  border: solid 1px var(--gray22);
  outline: none;
}

.search-input::placeholder {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--pinkish-grey);
}

